[submodule "Containerizer/IronFrame"]
	path = Containerizer/IronFrame
	url = https://github.com/cloudfoundry-incubator/ironframe
[submodule "greenhouse-security-fixtures"]
	path = greenhouse-security-fixtures
	url = https://github.com/pivotal-cf/greenhouse-security-fixtures.git
